.btn {
    padding: 10px 36px;
    border: 1px solid #3F5185;
    border-radius: 4px;
    outline: none;
    background: #03a9F4;
    color: white;
    font-size: 16px;
}

btn:hover {
    cursor: pointer;
}